<nav class="fixed top-0 left-0 z-50 w-full p-4 bg-slate-800">
  <div class="container flex items-center justify-between mx-auto">
    <div class="text-2xl font-bold text-white">
      <a href="/pacientes">Brainday</a>
    </div>

    <div class="flex items-center space-x-4">
      <ng-container *ngIf="!isLoggedIn(); else loggedIn">
        <a href="/login" class="px-3 py-2 text-sm font-medium text-white rounded-md hover:bg-gray-700">Login</a>
      </ng-container>
      <ng-template #loggedIn>
        <button (click)="onLogout()"
          class="px-3 py-2 text-sm font-medium text-white rounded-md hover:bg-gray-700">Logout</button>
      </ng-template>
    </div>
  </div>
</nav>