<div class="flex items-center justify-center h-screen bg-gray-100">
  <div class="w-full max-w-sm p-8 bg-white rounded-lg shadow-md">
    <h2 class="mb-6 text-2xl font-bold text-center text-slate-800">Login</h2>
    
    <form (submit)="onLogin()">
      <div class="mb-4">
        <label for="username" class="block mb-2 text-sm font-bold text-slate-700">Username</label>
        <input [(ngModel)]="username" name="username" id="username" type="text" placeholder="Username" required
          class="w-full px-3 py-2 leading-tight border rounded shadow appearance-none text-slate-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
      </div>
      
      <div class="mb-6">
        <label for="password" class="block mb-2 text-sm font-bold text-slate-700">Password</label>
        <input [(ngModel)]="password" name="password" id="password" type="password" placeholder="Password" required
          class="w-full px-3 py-2 mb-3 leading-tight border rounded shadow appearance-none text-slate-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
      </div>
      
      <div *ngIf="errorMessage" class="mb-4 text-sm text-center text-red-500">
        {{ errorMessage }}
      </div>
      
      <div class="flex items-center justify-between">
        <button type="submit"
          class="w-full px-4 py-2 font-bold text-white rounded bg-slate-500 hover:bg-slate-700 focus:outline-none focus:shadow-outline">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
